.home-page-img{
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
    transition: background-color .3s;
    color: inherit;
}
.homepage-img1{
    width: 100%;
}
.icon-left{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    
}
.next-left{
    font-weight: 500px;
    font-size: 30px;
    color: rgba(240, 248, 255, 0.59);
}
.icon-right{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: none;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    right: 0;
}
.next-right{
    font-weight: 500px;
    font-size: 30px;
    color: rgba(240, 248, 255, 0.59);    
}
.next-right:hover, .next-left:hover{
    color: #fff;
}
.next{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    font-size: 30px;

}
.next-1{
    color: rgba(225, 225, 241, 0.79);
}
.next-2{
    color: #fff;
}
.booter-img-1{
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
    color: inherit;
    transition: background-color .3s;
    z-index: 1;
    padding-top: 35%;
    width: 100%;

}