.login-background {
    display: block;
    width: 100%;
    height: 750px;
    background: #f6f9fc;
    padding-top: 100px;
}

.login-khung {
    width: 400px;
    margin: 0px auto;
    background-color: #fff;
    border: 1px solid rgb(206, 199, 199);
    box-shadow: 0px 5px 5px 5px  #dadfe4;
}

.label-login {
    font-size: 40px;
    color: black;
    font-weight: 500;
    width: 100%;
    height: 80px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #dbdbdbf2;
}
.login-ip{
    display: block;
    font-family: "Nunito",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 16px 24px;
    box-sizing: border-box;
    font-family: "Nunito",sans-serif;
    transition: background-color .3s;
    color: inherit;
    justify-content: center;
    align-items: center;
}
.username, .password , .text-submit , .submit-gg, .submit-fb{
    width: 98%;
    margin: 10px 5px;
    padding: 8px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #dbdbdbf2;
    font-size: 16px;
    font-weight: 400;


}
.username:focus, .password:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.4rem rgb(13 110 253 / 25%);
  }
.sumbit {
    display: block;
    width: 100%;
    font-family: "Nunito",sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 16px 24px;
    box-sizing: border-box;
    border: none;
    font-family: "Nunito",sans-serif;
    background-color: #fff;
}
.text-submit{
    background-color: #e69646;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.cover_button_submit{
    display: flex;
    align-items: center;
    flex-direction:column;

}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.separate-wrap{
    margin: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.separate-dash{
    width: 153px;
    height: 1px;
    border: 1px solid #dbdbdb97;
}
.separate-text{
    padding: 0px 5px;
    font-size: 16px;
    font-weight: 400;
    color:  #dbdbdb97;
}
.submit-gg{
    margin: 16px 0px;
    background-color: #dc3545;
    text-align: center;
    color: #fff;
}
.submit-fb{
    margin: 16px 0px;
    background-color: #0d6efd;
    text-align: center;
    color: #fff;
}
.sigup{
    width: 98%;
    margin: 16px 0px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    color: #b7b5b5;
    font-weight: 500;
    text-align: center;
}
.sigup.sigup:hover{
    color: #7b7a7a;
}

.small{
    margin-left: 10px;
    color: #dc3545;
    font-size: 12px;
    font-weight: 400;
}